* {
  font-family: Roboto, sans-serif;
  color: rgb(34, 34, 34);
}

img,
input,
textarea {
  width: 100%;
}

div > .column-half,
div > .column-full {
  padding-left: 0;
}

.entry-image {
  margin-bottom: 1rem;
  border-radius: 5px;
}

.new-entry {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.navbar {
  background-color: #176451;
}

.nav-title {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

.label-text {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.input-box {
  margin-bottom: 2rem;
  border-radius: 5px;
  line-height: 2.2rem;
  border: 1px solid gray;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

textarea:focus,
input:focus {
  outline-color: #176451;
}

.text-box {
  border-radius: 5px;
  line-height: 2.2rem;
  border: 1px solid gray;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.save-button {
  text-align: right;
}

.save-button > button {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  padding: 0.5rem 1.2rem;
  background-color: #176451;
  color: white;
  border-radius: 5px;
  border: 0 solid;
}
