* {
  font-family: Roboto, sans-serif;
  color: rgb(34, 34, 34);
}

html {
  height: 100%;
}

img,
input,
textarea {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

div > .column-half,
div > .column-full,
div.column-half,
.column-full.new-entry {
  padding-left: 0;
  padding-right: 1.5rem;
}

.no-margin-top {
  margin-top: 0;
}

.message {
  display: contents;
}

.text-center {
  text-align: center;
}

.single-entry {
  margin-bottom: 2rem;
}

.entry-image {
  margin-bottom: 1rem;
  border-radius: 5px;
}

.entry-text {
  font-size: 1.2rem;
  line-height: 2rem;
}

.new-entry {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.navbar {
  background-color: #176451;
}

.nav-title {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  margin-right: 2rem;
}

.nav-entries {
  margin-block: auto;
  align-items: center;
  justify-content: center;
  color: #d6e2df;
  font-size: 1.3rem;
}

.nav-entries > a {
  text-decoration: none;
  color: #d6e2df;
}

.label-text {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.input-box {
  margin-bottom: 2rem;
  border-radius: 5px;
  line-height: 2.2rem;
  border: 1px solid gray;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

textarea:focus,
input:focus {
  outline-color: #176451;
}

.text-box {
  border-radius: 5px;
  line-height: 2.2rem;
  border: 1px solid gray;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.save-button > button,
a.anchor-button {
  font-size: 1.2rem;
  padding: 0.5rem 1.2rem;
  background-color: #176451;
  color: white;
  border-radius: 5px;
  border: 0 solid;
}

.anchor-button {
  text-decoration: none;
}

.new-button {
  margin-left: auto;
  align-self: center;
}

.save-button {
  text-align: right;
  margin-top: 1.2rem;
}

@media screen and (max-width: 768px) {
  div.column-half {
    padding-right: 0;
  }
}
