* {
  font-family: Roboto, sans-serif;
  color: rgb(34, 34, 34);
}

img,
input,
textarea {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

div > .column-half,
div > .column-full,
div.column-half,
.column-full.new-entry {
  padding-left: 0;
  padding-right: 1.5rem;
}

.flex {
  display: flex;
}

.no-margin-top {
  margin-top: 0;
}

/* just for pen icon */
.margin-left-auto {
  margin-left: auto;
}

.message {
  display: contents;
}

.text-center {
  text-align: center;
}

.single-entry {
  margin-bottom: 2rem;
}

.edit-icon {
  margin-left: auto;
}

.entry-image {
  margin-bottom: 1rem;
  border-radius: 5px;
}

.entry-text {
  font-size: 1.2rem;
  line-height: 2rem;
}

.new-entry {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.navbar {
  background-color: #176451;
}

.nav-title {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  margin-right: 2rem;
}

.nav-entries {
  margin-block: auto;
  align-items: center;
  justify-content: center;
  color: #d6e2df;
  font-size: 1.3rem;
}

.nav-entries > a {
  text-decoration: none;
  color: #d6e2df;
}

.label-text {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.input-box {
  margin-bottom: 2rem;
  border-radius: 5px;
  line-height: 2.2rem;
  border: 1px solid gray;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

textarea:focus,
input:focus {
  outline-color: #176451;
}

.text-box {
  border-radius: 5px;
  line-height: 2.2rem;
  border: 1px solid gray;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.save-button > button,
a.anchor-button {
  font-size: 1.2rem;
  padding: 0.5rem 1.2rem;
  background-color: #176451;
  color: white;
  border-radius: 5px;
  border: 0 solid;
}

.anchor-button {
  text-decoration: none;
}

.new-button {
  margin-left: auto;
  align-self: center;
}

.save-button {
  text-align: right;
  margin-top: 1.2rem;
}

@media screen and (min-width: 768px) {
  div.new-button {
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  div.column-half,
  div > .column-full {
    padding-right: 0;
  }
}

/* modal styling */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.justify-space-btwn {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-bg {
  width: 100%;
  height: 100vh;
  background: rgba(56, 56, 56, 0.8);
}

.modal-box {
  margin: auto;
  width: 350px;
  height: 150px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.2rem;
}

.delete-button {
  font-size: 1rem;
  text-decoration: underline;
  text-align: left;
  margin-top: 1rem;
  color: red;
  border: none;
  background: none;
}

.delete-msg {
  font-weight: 700;
  margin-bottom: 2rem;
}

.cancel-btn,
.confirm-btn {
  font-size: 1.1rem;
  font-weight: 700;
  width: 6.5rem;
  height: 2.2rem;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
}

.confirm-btn {
  background-color: rgb(223, 0, 0);
  color: white;
}
